<div class="footer">
    <h5><b>TELEGRAM</b></h5>
    <div class="row">
        <div class="col s2">
            <img src="../../../assets/images/img7.jpg" alt="img" width="222px" height="195px">
        </div>
        <div class="col s2">
            <img src="../../../assets/images/img2.jpg" alt="img" width="222px" height="195px">
        </div>
        <div class="col s2">
            <img src="../../../assets/images/img4.jpg" alt="img" width="222px" height="195px">
        </div>
        <div class="col s2">
            <img src="../../../assets/images/img5.jpg" alt="img" width="222px" height="195px">
        </div>
        <div class="col s2">
            <img src="../../../assets/images/img6.jpg" alt="img" width="222px" height="195px">
        </div>
        <div class="col s2">
            <img src="../../../assets/images/img3.jpg" alt="img" width="222px" height="195px">
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <h6><b>NAVIGATIONS</b></h6>
            <div class="nav"><br>
                <a href="#"><i class="material-icons">check</i>HOME</a><br>
                <a href="#"><i class="material-icons">check</i>ABOUT ME</a><br>
                <a href="#"><i class="material-icons">check</i>BLOG</a><br>
                <a href="#"><i class="material-icons">check</i>LIFESTYLE</a><br>
                <a href="#"><i class="material-icons">check</i>GALLERY</a><br>
                <a href="#"><i class="material-icons">check</i>MY ACCOUNT</a>
            </div>
        </div>
        <div class="col s4">
            <h6><b>RECENT POST</b></h6>
            <p style="color:gray; font-family: sans-serif; font-size:13px;">22-OCT-2018</p>
            <p style="color:black; font-family: sans-serif; font-size:18px;line-height:0.5px;">The Most Popular Leg
                Workout
                for Men</p>
            <p style="color:gray; font-family: sans-serif; font-size:13px;">30-OCT-2018</p>
            <p style="color:black; font-family: sans-serif; font-size:18px;line-height:0.5px;">Popular Lifestyle with
                Fashion & Modeling</p>
            <p style="color:gray; font-family: sans-serif; font-size:13px;">31-OCT-2018</p>
            <p style="color:black; font-family: sans-serif; font-size:18px;line-height:0.5px;">Video Post Travel with my
                Friends</p>
            <p style="color:gray; font-family: sans-serif; font-size:13px;">01-NOV-2018</p>
            <p style="color:black; font-family: sans-serif; font-size:18px;line-height:0.5px;">Popular Lifestyle with
                Fashion & Modeling</p>
        </div>
        <div class="col s4">
            <h6><b>TAGS</b></h6>
            <div class="tags">
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Modeling</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Fashion</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Travel</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Vacation</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>See</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Ocean</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Office</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Home</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Nature</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Art</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Animals</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Women</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>News</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Workout</a>
                <a href="#!cate" class="waves-effect waves-light btn"><i
                        class="material-icons left">local_offer</i>Exercise</a>
            </div>
        </div>
    </div>
    <div class="row"><br><br><br>
        <div class="col s12">
            <p style="text-align: center; font-size:12px;">Copyright © 2018 All rights reserved.Proudly buit by
                <b>Manjunatha M S.</b></p>
        </div><br><br>
    </div>
</div>